<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <%- include head %>
    <link href="css/register.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <%- include menu %>
      <div>
        <button class="btn btn-default" data-toggle="modal" data-target="#myModal">新增公众号</button>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
          Launch demo modal
        </button>

      </div>
      <table class="table table-striped">
        <thead>
          <th>AppID</th>
          <th>Token</th>
          <th>Operate</th>
        </thead>
        <tbody>
          <% accounts.forEach(function(account){%>
          <tr>
            <td><%=account.get('app_id') %></td>
            <td><%=account.get('app_secret') %></td>
            <td></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div> <!-- /container -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            <form class="form-signin" method="post" action="login">
              <h2 class="form-signin-heading">Please sign in</h2>
              <label for="username" class="sr-only">Email address</label>
              <input type="text" id="username" name="username" class="form-control" placeholder="UserName" required="required">
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="required">
              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
